.paper {
  background-color: #dcdcdc;
  padding: 10px;
  height: 300px;
  min-width: 500px;
  max-width: 600px;
}

.sticker {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  flex: auto;
  height: 100%;
}

.stickerTop,
.stickerMiddle,
.stickerBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Specifically only targeting h1, h2, p inside of the Sticker Class */
.sticker h1,
.sticker h2,
.sticker p {
  margin: 0;
}

.stickerTop {
  background-color: red;
  border-radius: 10px 10px 0 0;
  color: white;
  font-family: Verdana;
  margin: 0;
  order: 0;
  flex: 5 0 auto;
  align-self: auto;
}

.stickerTop h1 {
  font-weight: 900;
  font-size: 72px;
}

.stickerTop h2 {
  font-size: 36px;
}

.stickerMiddle {
  background-color: white;
  font: 48px "Brush Script MT", cursive;
  order: 0;
  flex: 6 0 auto;
  align-self: auto;
}

.extraBold {
  font-size: 60px;
  font-weight: 900;
}

.stickerBottom {
  background-color: red;
  border-radius: 0 0 10px 10px;
  min-height: 10px;
  align-self: auto;
  height: auto;
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
}
